body {
  background-color: #b1a296;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  color: #f6fcfb;
}
main {
  flex-grow: 1;
}
.menuTint {
  top: 0;
  left: 0;
  margin: auto;
  position: fixed;
  z-index: 60;
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 50, 50, 0.9);
}
.mobileMenu {
  width: 100%;
  height: 100%;
  color: #f9f6ee;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  bottom: 10%;
}
.mobileMenu ul {
  font-size: 2em;
  font-weight: 700;
  margin: auto;
  z-index: 100;
}
.mobileMenu li {
  list-style: none;
}
.cross {
  right: 1em;
  top: 1em;
  position: fixed;
  color: #f9f6ee;
  cursor: pointer;
}
.topMenu {
  z-index: 50;
  width: 100vw;
  height: 50px;
  top: 0;
  max-width: 100%;
  color: #f9f6ee;
  background-color: #5d5c61;
  box-shadow: 3px 3px 8px rgba(50, 50, 50, 0.24);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.burger {
  justify-content: center;
  align-content: center;
  position: fixed;
  right: 5%;
  top: 3%;
  z-index: 50;
  width: 60px;
  height: 60px;
  background-color: #f9f6ee;
  border-radius: 50%;
  cursor: pointer;
}
#burgerIcon {
  margin: 0.5em auto;
  color: #5d5c61;
}

.topMenu ul {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 1em;
  margin: 0.5em 0.5em 0 0;
  list-style: none;
  cursor: pointer;
}
.topMenu li {
  transition: 0.2s;
}
.topMenu li:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}
.sideMenu {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 0 2em 0 0;
}
.sideMenu form {
  position: relative;
}
.sideMenu input {
  width: 170px;
  height: 35px;
  margin: 0.5em 2em 0 0;
  background-color: #a4a4a4;
  box-shadow: none;
  outline: none;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  justify-content: center;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 30px;
  color: #f9f6ee;
}
.sideMenu .icon {
  position: absolute;
  box-sizing: border-box;
  top: 30%;
  right: 14%;
}
.sideMenu input:focus {
  outline: none;
  background-color: #999;
}
.sideMenu button {
  border-style: none;
  font-weight: 700;
  height: 100%;
  width: 6em;
  color: #f9f6ee;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 10px;
}
.sideMenu button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
#signup {
  background-color: #7395ae;
}
#login,
#signup {
  box-shadow: rgba(50, 50, 50, 0.24) 3px 3px 8px;
}
#login {
  background-color: #557a95;
}
#searchIcon {
  margin: auto;
}
.sideMenu button:active {
  transform: translateY(3px);
  transition: 0.2s;
}
.loginMenu {
  width: 300px;
  aspect-ratio: 1;
  background-color: #b1a296;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  top: 10%;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 50px;
  padding: 25px;
  justify-content: center;
  color: #5d5c61;
  font: 1em;
}
.loginMenu > * {
  color: #f9f6ee;
}
.loginMenu button {
  width: 4rem;
}
.loginMenu form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.loginMenu input {
  width: 75%;
  height: 1.5rem;
  margin: 3%;
  background-color: #a4a4a4;
  font-weight: 700;
  color: #f9f6ee;
  border-radius: 10px;
  padding-left: 5px;
}
.loginMenu input:focus {
  background-color: #999;
}
.loginMenu button {
  width: 50%;
  height: 2rem;
  background-color: #5d5c61;
  border-radius: 25px;
  color: #f6fcfb;
  font-weight: 700;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.24);
  transition: 0.2s;
}
.loginMenu button:hover {
  transition: 0.2s;
  background-color: #717075;
}
.loginMenu button:active {
  transform: translateY(3px);
  transition: 0.2s;
}
.icon,
.loginMenu input,
a,
button {
  cursor: pointer;
}
.loginMenu a {
  color: #1956c7;
}
.loginMenu a,
.loginMenu a:hover {
  transition: 0.2s;
}
.loginIcons {
  display: flex;
  justify-content: space-between;
  color: #5d5c61;
  width: 70%;
}
.mainGrid {
  width: 90vw;
  margin: 1% auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media screen and (max-width: 650px) {
  .mainGrid {
    grid-template-columns: 1fr;
  }
  .footer content {
    grid-template-columns: none;
  }
  .socials {
    flex-direction: column;
    align-items: center;
  }
  .rights {
    text-align: center;
  }
  .topMenu {
    display: none;
  }
  .burger {
    display: flex;
  }
  .about {
    align-self: center;
  }
}
@media screen and (min-width: 650px) {
  .mainGrid {
    grid-template-columns: 1fr 1fr;
  }
  .footer content {
    grid-template-columns: 1fr;
  }
  .topMenu {
    display: none;
  }
  .burger {
    display: flex;
  }
}
@media only screen and (min-width: 1000px) {
  .footer content,
  .mainGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .topMenu {
    display: flex;
  }
  .topMenu li {
    padding: 10px;
  }
  .burger {
    display: none;
  }
}
@media only screen and (min-width: 1300px) {
  .mainGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .footer content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .topMenu {
    display: flex;
  }
  .topMenu li {
    padding: 10px;
  }
  .burger {
    display: none;
  }
}
.card {
  background-color: #888691;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  max-height: 400px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.24);
  transition: 0.2s;
  cursor: pointer;
}
.card:hover {
  transition: 0.2s;
  transform: scale(1.05);
}
.card content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  flex: 1;
}
.card h1 {
  font-size: 20px;
  font-weight: 700;
}
.card span {
  font-size: 13px;
  color: #f6fcfbbe;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: auto 0 0;
}
.card p {
  font-size: 16px;
}
.thumbnail {
  object-fit: cover;
  width: 100%;
  height: 50%;
  min-height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.footer {
  background-color: #5d5c61;
  color: #f9f6ee;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: auto 0;
}
.footer content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}
.rights {
  font-size: 11px;
  justify-self: center;
  grid-column: -1/1/-1;
}
.socials {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0;
  gap: 20px;
}
.about {
  font-size: 13px;
  width: 100%;
  text-align: center;
}
.about h1 {
  font-size: 15px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  justify-content: center;
}
.tags a {
  font-size: 14px;
  margin: 0.5em;
  color: #6495ed;
  cursor: pointer;
}
.tags a:before {
  content: "#";
}
.tags a:hover {
  text-decoration: underline;
}
.icon,
.icon:hover {
  transition: 0.2s;
}
.icon:hover {
  transform: scale(1.2);
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
